# Dependencies
node_modules
**/node_modules

# Build outputs
**/build
**/dist

# Development files
.git
.gitignore
.env
.env.*
**/.env
**/.env.*

# IDE files
.idea
.vscode
**/.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/logs
**/*.log

# Test coverage
**/coverage

# Temporary files
**/.tmp
**/.temp
